@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif ;
}

body {
    /* position: relative; */
    width: 100%;
    /* background-color: rgb(240,240,240); */
    /* background-color: whitesmoke; */
    /* background-color: rgb(65, 63, 63); */
    /* background-color: rgba(0, 0, 0, 0.855); */
}

header {
    background-color: rgb(148 151 153);
    display: flex;
    width: 100%;
    height: 7vh;
    /* background-color: rgba(0, 0, 0, 0.905); */
    justify-content: space-around;
}

nav {
    height: 7vh;
    /* padding: auto; */
    /* background-color: black; */
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.a {
    padding: 1%;
    margin: 0% 20px;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.a:hover {
    /* margin: 0% 20px; */
    font-weight: 500;
    /* padding: 5px; */
    font-size: 1.5em;
    letter-spacing: 1%;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    padding: 1%;
    color: #4CAF50;
    padding: 1%;
}

footer {
    height: 17vh;
    width: 100%;
    background-color: rgb(240, 240, 240);
    position: relative;
    bottom: 0%;
    /* display: flex; */
    /* display: grid; */
    /* align-content: center; */
    /* align-items: center; */
    /* justify-content: center; */
    /* grid-template-rows: 1fr 1fr; */

    /* z-index: 1; */
}

.logo {
    margin: 5px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-right: 10px;

    /* border-radius: 50%;
    margin-right: 2px; */
}

.pname {
    display: inline-block;
    /* margin-right: 15px; */
    color: white;
    letter-spacing: 1%;
    font-size: 1.5em;
}

.leftnav {
    display: flex;
    align-items: center;
    margin-left: 2%;
}

.foot {
    height: 17vh;
    width: 100%;
    /* margin-left: 7%; */
    display: grid;
    align-content: center;
    /* align-items: center; */
    /* justify-content: center; */
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    /* margin-left: 43%; */
}

.symbol {
    margin-right: 30px;
    /* background-color: white; */
}

.social {
    color: black;
    /* margin-left: 84.3%; */
    display: flex;
    align-items: center;
    font-size: 1.5em;

}

.icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1%;

}


@media only screen and (max-height: 800px) {

    .logo {
        height: 40px;
        width: 40px;
    }

}

@media only screen and (max-height: 630px) {

    .logo {
        height: 30px;
        width: 30px;
    }

}

@media only screen and (max-height: 500px) {

    .logo {
        height: 25px;
        width: 25px;
    }

}


.main {
    width: 100%;
    height: 63.5vh;
    position: relative;
   
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.95;
    filter: brightness(0.3);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1%;
    font-weight: 500;
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 2%;
    border-radius: 5px;
    height: 40%;
    width: 50%;
}

.btn1 {
    height: 4vh;
    width: 7vw;
    /* padding: %; */
    margin-right: 20px;
    /* margin-top: 5%; */
    color: white;
    text-decoration: none;
    font-size: 0.6em;
    /* font-size: 1.5em; */
    border: 1px solid white;
    font-family: 'Roboto', sans-serif;
    background-color:transparent;
    border-radius: 5px;
    font-weight: 500;
    padding:1vh;
    /* padding: 5px; */

    letter-spacing: 1%;


}

.red{
  /* margin-top: 3vh; */
  color:white;
  border:2px solid white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 20px;
  padding: 10px;
}

.red:hover{
  border:none;
  background-color: red;
  transform: scale(2.09%);
}

.btn2 {
    height: 4vh;
    width: 7vw;
    padding:1vh;
    /* padding: %; */
    /* margin: 0% 20px; */
    /* margin-top: 5%; */
    color: white;
    text-decoration: none;
    font-size: large;
    /* font-size: 1.5em; */
    border: 1px solid white;
    font-family: 'Roboto', sans-serif;
    background-color:transparent;
    border-radius: 5px;
    font-weight: 500;
    /* padding: 5px; */
    letter-spacing: 1%;
}
:hover.btn1,:hover.btn2{
    cursor: pointer;
    height: 4vh;
    width: 7vw;
    /* padding: %; */
    /* margin: 0% 20px; */
    /* margin-top: 5%; */
    color: white;
    text-decoration: none;
    font-size: large;
    /* font-size: 1.5em; */
    border: 1px solid white;
    font-family: 'Roboto', sans-serif;
    background-color:#4CAF50;
    border-radius: 5px;
    font-weight: 500;
    /* padding: 5px; */
    letter-spacing: 1%;  
}

.btns {
    margin-top: 4%;
}

.heading {
    width: 100%;
    text-align: center;
}

.subheading {
    width: 100%;
    text-align: center;
    margin-top: 1%;
}


.separator {
    height: 5px;
    width: 100%;
    background-color: rgb(145, 145, 145);
}

.second{
    display: flex;
    gap: 2%;
    justify-content: center;
    margin: auto;
    width: 70%;
    color: black;
    align-items: center;
    height: 55vh;
}
.diff{
    display: flex;
    gap: 2%;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 70%;
    color: black;
    align-items: center;
    height: 55vh;
}
.first{
    display: flex;
    gap: 2%;
    justify-content: center;
    margin: auto;
    width: 70%;
    color: black;
    align-items: center;
    height: 35vh;
}
.second img{
    width: 45vw;
    height: 50vh;
    /* height: 80%; */
}
.diff img{
    width: 25vw;
    height: 40vh;
    /* height: 80%; */
}
.secimg {
    position: relative;
   
}

.secimg img {
    position: relative;
    z-index: 10;
}

section.First>div {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}
.text{
    font-weight:900 ;
    font-size: 1.2em;
    letter-spacing: 3%;
}


@media screen and (max-width: 600px) {
    .content {
        font-size: 1.5em;
        width: 60%;
    }
.text{
    font-size: 0.7em;
}
    .btn1 {
        font-size: 0.7em;
        width: 18vw;
    }

    .btn2 {
        font-size: 0.7em;
        width: 18vw;
    }
    .second img{
        width: 60vw;
        height: 40vh;
        /* height: 80%; */
    }
}



@media screen and (min-width: 600px) and (max-width: 980px) {
    .content {
        font-size: 1.5em;
        width: 80%;
    }
.text{
    font-size: 0.8em;
}
    .btn1 {
        font-size: 0.7em;
        width: 11vw;
    }

    .btn2 {
        font-size: 0.7em;
        width: 11vw;
    }
    .second img{
        width: 60vw;
        height: 40vh;
        /* height:80%;*/
  }
}


.symbol:hover{
    cursor: pointer;
}
