{% extends "main.html" %}

{% block title %}
Event-main
{% endblock title %}


{% block style %}

<style>
  
        /* * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
         */
        .down {
            max-width: 100vw;
            margin: auto;
            padding: 20px;
        }
    
        .boxes {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 12px;
            margin-top: 20px;
        }
        
       
       
        .boxes .box {
            padding: 23px;
            background-color:beige;
            border-radius: 5px;
            text-align: center;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visual separation */
        }
    
        .boxes .box h3 {
            margin-bottom: 20px;
        }
    
        .boxes button {
            align-items: center;
            padding: 10px 20px;
            font-weight: 400;
            border: none;
            border-radius: 5px;
            background-color: #5cb85c;
            cursor: pointer;
            transition: all 0.3s;
            margin:2vh 0vh;
        }
    
        .boxes button a {

            color: white;
            text-decoration: none;
            font-size: 15px;
            font-weight: 700;
        }
    
        @media screen and (max-width: 1150px) {
            .boxes {
                grid-template-columns: 1fr 1fr; /* Two columns on smaller screens */
            }
        }
    
        @media screen and (max-width: 700px) {
            .boxes {
                grid-template-columns: 1fr; /* One column on very small screens */
            }
        }


        .create-event{
            color: none;
            text-decoration: none;
            padding: 10px;
            background-color: #5cb85c;
            border-radius: 6px;
            color: rgb(255, 250, 250);
            margin:5vh;
        }

        .create-event-box{
            margin-top: 5vh;
        }
    </style>
</style>
{% endblock style %}





{% block content %}




{% comment %} {% for event in events %}

 <div>
        <div class="event-box">
            {% if request.user.is_authenticated and request.user == event.host %}
                <a href="{% url 'delete-event' event.id%}">Delete</a>
                <a href="{% url 'update-event' event.id%}">Edit</a>
                <a href="{% url 'monitorHome' event.id%}">Monitor</a>
            {% endif %}
            <h1>{{event.eventname}}</h1>
            <p>{{event.event_description}}</p>
        </div>
    </div>
{% endfor %} {% endcomment %}
   
{% comment %} {% for event in events %}
<a class="create-event" href="{% url 'create-form'%}">Create&nbsp;Event</a>
<div class="main-content">
    <div class="container">
        <div class="event-boxes">
            <div class="box">
                

           
                <div class="box-btn">
                    <h1>{{event.eventname}}</h1>
                    <p>{{event.event_description}}</p>
                    {% if request.user.is_authenticated and request.user == event.host %}
                    <a href="{%url 'eventsHome'%}">
                     <a href="{% url 'monitorHome' event.id%}" class="btn-monitor">Monitor</a>
                    </a>
                    <a href="{% url 'update-event' event.id%}" class="btn-update">Update</a>
                    <a href="{% url 'delete-event' event.id%}" class="btn-remove">Remove</a>
               
                    {% endif %}
                        
                    
                </div>
               

            </div>

        </div>
    </div>
</div> {% endcomment %}


<div class="create-event-box">
<a href="{% url 'create-form'%}" class="create-event">Create&nbsp;Event</a>
</div>
{% for event in events %}
<main>

    <div class ="events">
        <div class="down">
            <div class="boxes">
                <div class="box">
                    <h1>{{event.eventname}}</h1>
                    <h3>Event-description</h3>
                    <p>{{event.event_description}}</p>
                    {% if request.user.is_authenticated and request.user == event.host %}
                    <button><a href="{% url 'monitorHome' event.id%}">Monitor</a></button>
                    <button><a href="{% url 'update-event' event.id%}">Edit</a></button>
                    <button><a href="{% url 'delete-event' event.id%}">Remove</a></button>
                    {% endif %}
                </div>
                
            </div>
        </div>
    </div>
</main>
{% endfor %}


{% endblock content %}